<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add  key="xmlPath" value="F:\huhuafu\wokfile\code\2003\PrizmConnectServices\bin\PrizmConnectServices.config" />
	<add  key="DependedOn" value="MSMQ,MSSQLSERVER" />
	<add  key="IsDebug" value="False" />
	<add  key="IsCheckConnect" value="True" />
</appSettings>
</configuration>