<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <!--config file path for multiple thread -->
	<add  key="xmlPath" value="F:\huhuafu\wokfile\code\2003\PrizmConnectServices\bin\PrizmConnectServices.config" />
	<!-- Dependence -->
  <add  key="DependedOn" value="MSMQ,MSSQLSERVER" />
  <!-- Whether the code is in debug mode-->
	<add  key="IsDebug" value="False" />
  <!-- update for windows server 2012, if Microsoft Message Queue does not receive data from more than three minutes, it will close this queue for the program. -->
	<add  key="IsCheckConnect" value="True" />
</appSettings>
</configuration>